.services_card{
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 420px;
    height: 550px;
    margin-bottom:100px;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin:50px;
}

.est_button{
    border: none;
    border-radius: 5px;
    background-color: rgb(26, 96, 247);
    color: rgb(255, 255, 255);
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
   
}

.h2{
    
    width: 390px;
    color: rgb(0, 29, 190);
}

.card_container{
    margin: 20px;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(107, 105, 105);
}

