.details{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 200px;
}
.Oest_button3{
    border: none;
    height: 40px;
    font-size: 17px;
    margin-left: 1000px;
    width: 200px;
    margin-top: -990px;
    margin-bottom:  200px;
    border-radius: 5px;
    background-color: rgb(26, 96, 247);
    color: rgb(255, 255, 255);
   
   
}

.keywords{
    color: rgba(255, 255, 255, 0);
}
.rrocket{
   
    overflow: hidden;
    animation-fill-mode: forwards;
    height: 400px;
    width: 400px;
    margin-top: -420px;
    margin-left:300px;
    margin-bottom:50px;
}
.wrapper_div{
    display: flex;
    justify-content: center;
}

.details_headline{
 width: 40%;
 font-size: 40px;
 color: rgb(255, 187, 0);
 text-shadow: 2px 2px #ff0000;
 text-align: center;
 margin-right: 120px;
}

.details_p{
 width: 45%;
 font-size: 20px;
 color: rgb(107, 105, 105);
 text-align: center;

 margin-left: 30px;
 margin-bottom: -50px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 80%;
    }


    .details_headline{
        width: 99%;
        font-size: 30px;
      
        text-align: center;
        margin-right: 120px;
        margin-bottom: 20px;
       }

       .details_p{
       
         margin-left: -0px;
        width: 99%;
        font-size: 20px;
       
        text-align: center;
        margin-bottom: 200px;
       }

       .rrocket{
   
        overflow: hidden;
        animation-fill-mode: forwards;
        height: 400px;
        width: 400px;
        margin-top: -300px;
        margin-left: 80px;
        margin-bottom:50px;
    }
    .Oest_button3{
        display: none;
    }
  }