.details{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 200px;
}
.rrocket{
   
    overflow: hidden;
    animation-fill-mode: forwards;
    height: 400px;
    width: 400px;
    margin-top: -300px;
    margin-left:300px;
    margin-bottom:50px;
}
.wrapper_div{
    display: flex;
    justify-content: center;
}

.details_headline{
 width: 40%;
 font-size: 40px;
 color: rgb(0, 29, 190);
 text-align: center;
 margin-right: 120px;
}

.details_p{
 width: 45%;
 font-size: 20px;
 color: rgb(107, 105, 105);
 text-align: center;
 
 margin-left: 30px;
 margin-bottom: 200px;
}