.nav_bar{
   position: absolute;
    width: 100%;
    height: 90px;
     transition: top 0.3s;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;

  transition: all .3s linear;
    box-shadow: 0 8px 4px -4px rgb(0, 204, 255);
}
.lot{
    display: flex;
    justify-content: flex-start;
  
    margin-right: 420px;
}

.nav_logo{
    display: flex;
    margin-left: -770px;
    align-items: center;

    margin-right: 1150px;
    justify-content: flex-start;
    height: 200px;
    width: 200px;
}

img{
    display: flex;
    justify-content: flex-start;
}

.Oest_button{
    border: none;
    height: 40px;
    font-size: 17px;
    margin-left: 1000px;
    width: 200px;
    margin-top: -420px;
    border-radius: 5px;
    background-color: rgb(26, 96, 247);
    color: rgb(255, 255, 255);
   
   
}

.ul {
    width: 900px;
    display: flex;
    justify-content: flex-end;
    color: rgb(247, 243, 0);
    margin-right: 100px;
    font-size: 20px;
    text-decoration: none;
}

.ul2 {
    display: flex;
    align-items: center;
    width: 800px;
    justify-content: flex-end;
    color: rgb(66, 66, 66);
    font-size: 20px;
    text-decoration: none;
}

#facebook{
    font-size: 40px;
  
    margin-bottom: -70px;
    text-decoration: none;
    margin-left: 30px;
    color:rgb(71, 71, 71); 
}

#facebook:hover{
    color: rgb(0, 203, 253);
    box-shadow: 12px 0 15px -4px rgba(252, 143, 0, 0.8),
    -12px 0 8px -4px rgba(255, 174, 0, 0.8);
}



.a{
    text-decoration: none;
}

#telly{
    position: fixed;
    font-size: 40px;
    color:rgb(71, 71, 71); 
    align-items: center;
    margin-bottom: 18px;  
}
#telly:hover{
    color: rgb(0, 203, 253);
    box-shadow: 12px 0 15px -4px rgba(252, 143, 0, 0.8),
    -12px 0 8px -4px rgba(255, 174, 0, 0.8);
}

.ul:hover{
    color: rgb(236, 222, 14);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .nav_bar{
        position: fixed;
        width: 100%;
        height: 90px;
         transition: top 0.3s;
       
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.2rem;
    
    }

    .nav_logo{
        display: none;
        margin-left: -300px;
        align-items: center;
        margin-top: 30px;
        margin-right: 1150px;
        justify-content: flex-start;
        height: 200px;
        width: 200px;
    }

   

    .ul {
        width: 300px;
        display: flex;
        margin-left: -70px;
        justify-content: center;
       
        font-size: 5px;
        text-decoration: none;
    }

    .lot{
        display:none;
    }
    

    
}
