.image_div {
  box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
 width: 40%;
 border-bottom: 20%;
 margin-top: 150px;
 background-color: rgb(241, 239, 239);
}
.img_div:hover {
  transform: scale(1.2);
}

.h3 {
  margin-left: -450px;
  width: 900px;
  margin-top: -100px;
  list-style-type: none;
  font-size: 30px;
}
.img_div,
img {
margin-left: 7%;
transition: all .3s linear;
}
.img_div, img:hover{
    transform: scale(1.2);
}
.bullet_points {
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
    -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    margin-top: 150px;
  background: linear-gradient(rgba(0, 17, 255, 0.801), rgba(48, 80, 168, 0.5)),
    url("../Images/responsive_design.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s linear;
  width: 60%;
}



.bullet_points:hover{
    background: linear-gradient(rgba(0, 17, 255, 0.801), rgba(109, 104, 104, 0.5)),
    url("../Images/responsive_design.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  position: absolute;
  width: 200px;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  text-align: center;
}

li {
  margin: 5px;
  margin-bottom: 20px;
  margin-right: 100px;
  width: 300px;
  transition: all .3s linear;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.list_item:hover{
    transform: scale(1.2);
}

.content_container-1 {
  display: flex;
  width: 100%;
}
