.footer {
    background-color: rgb(44, 61, 136);
    height: 100px;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 25px;
    padding-top: 30px;
    box-shadow: 14px 4px 8px 9px rgb(136, 136, 136);
   
   
}

#p2{
    align-items: center;
    color: #ffff;
}

    
   
   


