#main2{
margin-left: 50%;
 width: 600px;
}

#form{
 flex-direction: column;
 margin-left: 750px;
}

#name{
 width: 500px;
}
.form_title{
    color: #ffff;
    width: 600px;
}



Header{
    
    color: #ffff;
}
#email{
width: 500px;
}

#subject{
 width: 500px;
}

#content{
 width: 500px;
 height: 200px;
}