body[data-aos-duration='4000'] [data-aos], [data-aos][data-aos][data-aos-duration='4000']{
    transition-duration: 4000ms;
  }

.lg{
    display: flex;
    justify-content: center;
}

.display{

 margin-bottom: 20px;
 display: flex;
 justify-content: center;
 color: rgb(141, 141, 141);
}

.icon{
    height: 50px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){

    .display{
        display: flex;
        flex-direction: column;
        margin-left: -50px;
    }

    .icon{
        margin-left: 45px;
        height: 50px;
    }

  }