body{

margin: 0;
padding: 0;
  }

.lg{
    display: flex;
    justify-content: center;
}

.display{

 margin-bottom: 20px;

 display: flex;
 justify-content: center;
 color: rgb(141, 141, 141);
}

.icon{
    height: 50px;
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .mobiles_lottie{
      display: none;
      
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){

    .display{
        display: flex;
        flex-direction: column;
        margin-right:-150px;
        margin-left: -50px;
    }
    .mobiles_lottie{
      margin-bottom: -30px;
      margin-left: 140px;
    }

    .icon{
        margin-left: 45px;
        height: 50px;
    }

  }